version: "{build}"
environment:
    # https://sourceforge.net/projects/luabinaries/files/
    lua_version: 5.3.4
    # https://www.activestate.com/activeperl/downloads
    perl_version: 5.24.1.2402
    perl32_revision: 401627
    perl64_revision: 401627
    # https://www.python.org/downloads/
    python2_version: 2.7.13
    python3_version: 3.6.2
    # https://racket-lang.org/download/
    racket_version: 6.10
    # https://rubyinstaller.org/
    # NOTE: this is Ruby API version.
    ruby_version: 2.4.0
    # https://www.activestate.com/activetcl/downloads
    tcl_version: 8.6.4.1
    tcl_revision: 299124
    vim_compilation_credit: micbou <contact@micbou.com>
    bintray_username: micbou
    bintray_api_key:
        secure: B1GlaWpEZ4f1oU6Hfi0XKe/LUoqJgJVUtXP8QxENtezlyNDqvRMfw1gX7btpEYk9
    twitter_consumer_key:
        secure: aohf6ZTz+kDR1CpuSXhDgCEqWe0/k7M1MfNtMlNwRLw=
    twitter_consumer_secret:
        secure: 4ZR4VoPu/8/a/tMPpMM41vwcAz+OeYfQ4dfiE99Pmqz0dSCiDpsO22cC11Sr53BcK+UZzQBH68ppB71nmjk6Mw==
    twitter_access_token:
        secure: KBY9gZq2RJzAIHCea6h+nTCIBiNQgTipI3lL0WPz1N6GXuOgikVQWWuaf+cFhXL0Lh2UgQuFHm2zDByFSXmkMQ==
    twitter_access_token_secret:
        secure: z66tC6HWZZ7dXS5SG49amgEGBfR6vX3SXQUjgV1GmFuaVFDXr67XZfK/dG3x8+pA
    matrix:
        - arch: 32
          msvc: 14
        - arch: 64
          msvc: 14
install:
    - ps: appveyor\install.ps1
build_script:
    - python appveyor\build.py --msvc %msvc% --arch %arch% --lua-version %lua_version% --perl-path %perl_path% --perl-version %perl_version% --python2-version %python2_version% --python3-version %python3_version% --racket-library-version %racket_library_version% --ruby-version %ruby_version% --tcl-version %tcl_version% --credit "%vim_compilation_credit%"
    - ps: appveyor\variables.ps1
    - python appveyor\package.py %vim_artifact%
test_script:
    - python appveyor\test.py --msvc %msvc%
    # This path is required to load the Ruby interface as it contains a
    # dependency of the Ruby library (libgmp-10.dll).
    # NOTE: tests hang on 32-bit if we add this path before running them.
    - set PATH=%ruby_path%\bin\ruby_builtin_dlls;%PATH%
    - python appveyor\check.py --lua-version %lua_version% --perl-version %perl_version% --python2-version %python2_version% --python3-version %python3_version% --racket-version %racket_version% --ruby-version %ruby_version% --tcl-version %tcl_version%
artifacts:
    - path: vim\nsis\$(vim_artifact)
      name: vim
deploy:
    - provider: GitHub
      tag: $(appveyor_repo_tag_name)
      release: $(vim_version)
      description: $(git_description)
      auth_token:
          secure: gm7NWc/q5jrfYIipgRGs8Xd8+4BmWeEAEgfnCJYcu2EpgFdAxIMcT6ixBCE2gg5F
      artifact: vim
      draft: false
      prerelease: false
      on:
          branch: master
          appveyor_repo_tag: true
          msvc: 12
# Deploy to Bintray and send a tweet
after_deploy:
    - python appveyor\bintray.py upload generic vim %vim_version% vim\nsis\%vim_artifact% --override
    - python appveyor\bintray.py update-version generic vim %vim_version% "%bintray_description%" --vcs-tag %appveyor_repo_tag_name%
    - python appveyor\bintray.py publish generic vim %vim_version%
    - python appveyor\bintray.py download-list generic %vim_artifact% add
    - python appveyor\twitt.py "%vim_tweet%"
cache:
    - '%APPVEYOR_BUILD_FOLDER%\downloads -> appveyor.yml'
